.visitas-form-container {
  max-width: 100%; /* Cambiado a 100% para ocupar todo el ancho disponible */
  width: 500px; /* Establecido un ancho máximo */
  margin: 20px auto; 
  padding: 20px;
  border: 1px solid #d4a682;
  border-radius: 10px;
  background-color: #d4a682;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.visitas-form-container h1 {
  margin-top: 0;
}

.visitas-form label {
  display: block;
  margin-bottom: 8px;
}

.visitas-form input,
.visitas-form select {
  width: calc(100% - 16px); /* Ajusta el ancho para tener en cuenta el padding */
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #d4a682;
  border-radius: 4px;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.visitas-form button {
  width: 100%; /* Botón ocupa todo el ancho disponible */
  padding: 10px 15px;
  background-color: #ff8c00;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.visitas-form button:hover {
  background-color: #e07b00;
}
