.condominium-header {
    text-align: center;
    margin-bottom: 20px; /* Espacio entre el encabezado y el formulario */
}

.condominium-title {
    color: white;
    font-size: 24px; /* Tamaño del título */
    font-weight: bold; /* Negrita */
    margin-bottom: 10px; /* Espacio debajo del título */
}

.condominium-logo {
    width: 25%; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto; /* Mantiene la proporción */
    border-radius: 50%; /* Borde redondeado para la imagen */
}

.custom-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 300px;
}

@media screen and (max-width: 300px) {
    .custom-form {
        display: inline-block;
    }
}

.custom-label {
    margin-bottom: 10px;
}

.custom-input {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #d4a682; /* Color del borde actualizado */
    border-radius: 4px;
    width: 100%;
}

.custom-button {
    padding: 10px 20px;
    background-color: #ff8c00; /* Color principal del logo */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.custom-button:hover {
    background-color: #e07b00; /* Color de fondo del botón al pasar el ratón actualizado */
}

.custom-button:active {
    background-color: #e07b00; /* Color de fondo del botón al hacer clic actualizado */
}

.custom-button:focus {
    outline: none;
}

.login-button {
    display: flex;
    justify-content: center;
    margin-top: 10px; 
    margin-bottom: 10px; 
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 10px; 
    margin-bottom: 10px; 
}
.language-icons-container {
    display: flex;
    align-items: center;
}

.language-button {
    margin-top: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center; /* Align items vertically */
}

.language-button.selected {
    border: 2px solid white; /* Highlight selected button */
    border-radius: 5px; /* Rounded borders */
}

.language-icon {
    width: 30px; /* Adjust icon size */
    height: auto; /* Maintain aspect ratio */
    margin-right: 5px; /* Adjust spacing between icon and button edge */
}