body {
    background-color: #363c4a;
    margin: 0; /* Ajusta el margen según sea necesario */
    padding: 0; /* Ajusta el relleno según sea necesario */
    font-family: 'Montserrat', sans-serif; /* Fuente principal */
    font-style: bold; /* Negrita */
  }
  