.main-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto; /* Aumentado el margen para separación */
    max-width: 100%; /* Aprovecha todo el ancho disponible */
    width: 300px; /* Ancho máximo del contenido */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.custom-button1 {
    padding: 10px 20px;
    background-color: #ff8c00; /* Color principal del logo */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%; /* Botón ocupa todo el ancho disponible */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
    margin-bottom: 10px; /* Espacio entre botones */
}

.custom-button1:hover,
.custom-button1:active {
    background-color: #e07b00; /* Color de fondo del botón al pasar o hacer clic actualizado */
}

.custom-button1:focus {
    outline: none;
}

.buttons-container {
    display: flex;
    flex-wrap: wrap; /* Asegura que los botones se envuelvan en dispositivos pequeños */
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px; /* Mayor espacio entre el contenedor de botones y otros elementos */
}

.home-container {
    max-width: 100%; /* Aprovecha todo el ancho disponible */
    width: 800px; /* Ancho máximo del contenido */
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.entries-list {
    margin-bottom: 20px;
    background-color: #d4a682;
    border: 1px solid #ddd; /* Añadido borde para separación */
    padding: 10px; /* Espaciado interior */
    overflow-x: auto; /* Agregado para permitir desplazamiento horizontal en tablas grandes */
}

.entries-list table {
    width: 100%;
    border-collapse: collapse;
}

.entries-list th,
.entries-list td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

/* Media query para ajustar estilos en pantallas más pequeñas */
@media screen and (max-width: 600px) {
    .entries-list {
        padding: 5px; /* Reducir el padding para ahorrar espacio */
    }

    .entries-list th,
    .entries-list td {
        padding: 6px; /* Ajustar el padding de las celdas */
        font-size: 12px; /* Reducir el tamaño del texto para mejor legibilidad */
    }
}


.entry-form {
    background-color: #d4a682;
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.entry-form h2 {
    margin-top: 0;
}

.entry-form input,
.entry-form select {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.entry-form button {
    padding: 10px 20px;
    background-color: #ff8c00; /* Color principal del logo */
    color: white;
    border: none;
    cursor: pointer;
    width: 100%; /* Botón ocupa todo el ancho disponible */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.entry-form button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.error-message {
    color: red;
}
