.admin-form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #d4a682; /* Color del borde actualizado */
  border-radius: 10px;
  background-color: #d4a682; /* Color de fondo actualizado */
}

.admin-form label {
  display: block;
  margin-bottom: 8px;
}

.admin-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #d4a682; /* Color del borde actualizado */
  border-radius: 4px;
}

.admin-form button {
  padding: 10px 15px;
  background-color: #ff8c00; /* Color principal del logo */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.admin-form button:hover {
  background-color: #e07b00; /* Color de fondo del botón al pasar el ratón actualizado */
}

.message-container {
  text-align: center;
}

.message-container form {
  display: inline-block;
}
